@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {	
	:root {
		/* Accent */
		--gnome-accent-bg: var(--gnome-palette-blue-3);
		--gnome-accent: #bbf1dd;

		--gnome-toolbar-star-button: #bbf1dd;

		/* Window */
		--gnome-window-background: #1b2421;
		--gnome-window-color: #bbf1dd;
		--gnome-view-background: #151c19;
		--gnome-sidebar-background: #33433d;
		--gnome-secondary-sidebar-background: #27332f;

		/* Card */
		--gnome-card-background: rgba(187, 241, 221, 0.08);
		--gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Menu */
		--gnome-menu-background: #151c19;

		/* Header bar */
		--gnome-headerbar-background: #1b2421;
		--gnome-headerbar-shade-color: #1b2421;

		/* Toolbars */
		--gnome-toolbar-icon-fill: #bbf1dd;

		/* Tabs */
		--gnome-tabbar-tab-hover-background: #2B3934; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2F3E38; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #2F3E38; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #33433D; /* Hardcoded color */
		
		--gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
		--gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
		--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
		--gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
		--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #D9C3EF;
		/* New private tab background */
		--gnome-private-in-content-page-background: #221F26;
		/* Private browsing info box */
		--gnome-private-text-primary-color: #D9C3EF;
		  
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #1b2421;
		
	}

	/* Backdrop colors */
	:root:-moz-window-inactive {
		--gnome-tabbar-tab-hover-background: #2B3934; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2F3E38; /* Hardcoded color */
	}

	/* Private colors */
	:root[privatebrowsingmode="temporary"] {
		--gnome-accent-fg: #D9C3EF;
		/* Headerbar */
		--gnome-headerbar-background: #221F26 !important;
		/* Tabs */	
		--gnome-tabbar-tab-hover-background: #322E38; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #35303A; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #3D3744; /* Hardcoded color */
	}

	/* Private and backdrop colors */
	:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
		--gnome-headerbar-background: #221F26 !important;
		--gnome-tabbar-tab-hover-background: #322E38; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #35303A; /* Hardcoded color */
	}
}
